In [23]:
import pandas as pd
#import geopandas as gpd

In [24]:
# 한글 폰트 깨짐 (출처: https://giveme-happyending.tistory.com/168)
import matplotlib.pyplot as plt
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

# 0. Load Data

## 0.1 테이블정의서

In [25]:
define_df = pd.read_excel('./Data/테이블정의서.xlsx', '테이블정의서')  # 파일 수정 : 컬럼명 1~9 추가
define_df

,1,2,3,4,5,6,7,8,9
0,테이블ID,자치구,NaN,테이블명,시군구경계,NaN,업무영역,NaN,DW
1,정의,자치구,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,설명,자치구,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,순번,컬럼명,컬럼명,PK,FK,데이터타입,N,D,설명
4,1,SIGNGU_CD,시군구_코드,O,NaN,VARCHAR2(5),N,NaN,시군구_코드
...,...,...,...,...,...,...,...,...,...
399,20,FAG_30_WRC_POPLTN_CO,여성연령대_30_직장_인구_수,NaN,NaN,NUMBER,NaN,NaN,여성연령대_30_직장_인구_수
400,21,FAG_40_WRC_POPLTN_CO,여성연령대_40_직장_인구_수,NaN,NaN,NUMBER,NaN,NaN,여성연령대_40_직장_인구_수
401,22,FAG_50_WRC_POPLTN_CO,여성연령대_50_직장_인구_수,NaN,NaN,NUMBER,NaN,NaN,여성연령대_50_직장_인구_수
402,23,FAG_60_ABOVE_WRC_POPLTN_CO,여성연령대_60_이상_직장_인구_수,NaN,NaN,NUMBER,NaN,NaN,여성연령대_60_이상_직장_인구_수
403,24,RELM_AR,영역_면적,NaN,NaN,NUMBER(22),NaN,NaN,영역_면적

In [26]:
define_df[define_df[1] == '테이블ID'].index, len(define_df)

(Index([  0,  13,  29,  48,  65,  83, 100, 121, 142, 168, 197, 207, 218, 249,
        262, 340, 354, 376],
       dtype='int64'),
 404)

In [27]:
define_df[define_df[1] == '테이블ID']

,1,2,3,4,5,6,7,8,9
0,테이블ID,자치구,NaN,테이블명,시군구경계,NaN,업무영역,NaN,DW
13,테이블ID,행정동경계,NaN,테이블명,행정동경계,NaN,업무영역,NaN,DW
29,테이블ID,표준단위구역,NaN,테이블명,표준단위구역영역정보,NaN,업무영역,NaN,DW
48,테이블ID,골목상권영역,NaN,테이블명,골목상권영역,NaN,업무영역,NaN,DW
65,테이블ID,발달상권영역,NaN,테이블명,발달상권영역,NaN,업무영역,NaN,DW
83,테이블ID,전통시장상권영역,NaN,테이블명,전통시장상권영역,NaN,업무영역,NaN,DW
100,테이블ID,TBSM_SUD_APT,NaN,테이블명,표준단위구역별 아파트정보,NaN,업무영역,NaN,SM
121,테이블ID,TBSM_SUD_BEING_RT_QU,NaN,테이블명,표준단위구역별 연차별생존율 분기,NaN,업무영역,NaN,SM
142,테이블ID,TBSM_SUD_FCLTY,NaN,테이블명,표준단위구역별 집객시설,NaN,업무영역,NaN,SM
168,테이블ID,TBSM_SUD_FLPOP_QU,NaN,테이블명,표준단위구역별 생활인구 분기,NaN,업무영역,NaN,SM
197,테이블ID,TBSM_SUD_HOUSINCOM_QU,NaN,테이블명,표준단위구역별 가구소득 분기,NaN,업무영역,NaN,SM
207,테이블ID,TBSM_SUD_RENT_CURPRC_QU,NaN,테이블명,표준단위구역별 임대시세 분기,NaN,업무영역,NaN,SM
218,테이블ID,TBSM_SUD_REPOP_QU,NaN,테이블명,표준단위구역별 상주인구 분기,NaN,업무영역,NaN,SM
249,테이블ID,TBSM_SUD_SALE_MT_QU,NaN,테이블명,표준단위구역별 평균영업개월 분기,NaN,업무영역,NaN,SM
262,테이블ID,TBSM_SUD_SELNG_QU,NaN,테이블명,표준단위구역별 추정매출 분기,NaN,업무영역,NaN,SM
340,테이블ID,TBSM_SUD_STOR_LV12_QU,NaN,테이블명,표준단위구역별 개폐업점포 대분류 분기,NaN,업무영역,NaN,SM
354,테이블ID,TBSM_SUD_SURV_RT_QU,NaN,테이블명,표준단위구역별 신생기업생존율 분기,NaN,업무영역,NaN,SM
376,테이블ID,TBSM_SUD_WRC_POPLTN_QU,NaN,테이블명,표준단위구역별 직장인구 분기,NaN,업무영역,NaN,SM

In [28]:
checkpoint = list(define_df[define_df[1] == '테이블ID'].index) + [len(tmp)]

NameError: name 'tmp' is not defined

### 0.1.1 12개 테이블 정의 영역 구분

In [29]:
define_df_list = []
for idx in range(len(checkpoint)-1):
    l, r = checkpoint[idx], checkpoint[idx+1]
    define_df_list.append(define_df.iloc[l:r])

NameError: name 'checkpoint' is not defined

In [ ]:
define_df_list = define_df_list[6:]  # 앞의 6개는 shp 정의 -> pass
len(define_df_list)

In [ ]:
define_df_list[0]

In [ ]:
data_df_list = []
for i in range(len(df_list)):
    df = define_df_list[i]
    table_name, table_name_kor = df.iloc[0, 1], df.iloc[1, 1]
    if table_name == 'TBSM_SUD_STOR_LV12_QU':
        table_name = 'TBSM_SUD_STOR_QU'
    
    col_list = df.iloc[4:, 2].values
    col_list = [col.strip() for col in col_list]
    print(table_name, '\t\t', table_name_kor)
    # print(col_list)

    data_df = pd.read_csv(f'./Data/{table_name}.csv', encoding='euc-kr')
    data_df.columns = col_list
    data_df_list.append(data_df)

In [ ]:
len(data_df_list)

### 0.1.2 12개 테이블의 도수 분포(히스토그램) 확인

In [ ]:
data_df_list[0].hist(bins=20, figsize=(20, 15))

In [ ]:
data_df_list[1].hist(bins=20, figsize=(20, 15))

In [ ]:
data_df_list[2].hist(bins=10, figsize=(20, 15))

In [ ]:
data_df_list[3].hist(bins=20, figsize=(20, 15))

In [ ]:
data_df_list[4].hist(bins=5, figsize=(20, 15))

In [ ]:
data_df_list[5].hist(bins=5, figsize=(20, 15))

In [ ]:
data_df_list[6].hist(bins=10, figsize=(20, 15))

In [ ]:
data_df_list[7].hist(bins=10, figsize=(20, 15))

In [ ]:
data_df_list[8].hist(bins=50, figsize=(20, 15))

In [ ]:
data_df_list[9].hist(bins=5, figsize=(20, 15))

In [ ]:
data_df_list[10].hist(bins=10, figsize=(20, 15))

In [ ]:
data_df_list[11].hist(bins=5, figsize=(20, 15))

# 1. 상관관계 분석

In [ ]:
df_sk = pd.read_csv('./dataset/상권매칭테이블.csv', encoding='euc-kr')
df_sk2 = df_sk[['SUD_CD', 'TRDAR_SE_CD']]
df_sk2.columns = ['표준단위구역_코드', '상권분류코드']
df_sk2.head()

## 1.1 상권별 각 특성 분포 확인

### 1.1.1 특정 테이블의 특정 컬럼을 상권별로 시각화

In [ ]:
def show_scatter(idx, col_name):
    tmp = data_df_list[idx][['표준단위구역_코드', col_name]]
    df = pd.merge(left = df_sk2 , right = tmp, how = "inner", on = "표준단위구역_코드").drop(columns=['표준단위구역_코드'])
    df.plot.scatter('상권분류코드', col_name)

In [ ]:
show_scatter(11, '남성연령대_50_직장_인구_수')

### 1.1.2 특정 테이블에 대해 모든 칼럼을 시각화

In [ ]:
def show(idx):
    for col in list(data_df_list[idx].columns):
        if col in ('기준_년분기_코드', '기준_년월_코드', '서비스_업종_코드', '표준단위구역_코드'):
            continue
        show_scatter(idx, col)

In [ ]:
show(0)

In [ ]:
show(1)

In [ ]:
# show(2)

In [ ]:
show(3)

In [ ]:
show(4)

In [ ]:
show(5)

In [ ]:
show(6)

In [ ]:
show(7)

In [ ]:
# show(8)

In [ ]:
show(9)

In [ ]:
show(10)

In [ ]:
show(11)

## 1.2 두 가지 컬럼에 대한 산포도 확인

### 1.2.1 한 개의 테이블 내부

In [ ]:
dict_sk_code_kor = {'A':'골목', 'D':'발달', 'R':'시장'}

In [ ]:
# 테스트 코드
col1, col2 = '남성연령대_50_직장_인구_수', '여성연령대_50_직장_인구_수'
tmp = data_df_list[11][['표준단위구역_코드', col1, col2]]
df = pd.merge(left = df_sk2 , right = tmp, how = "inner", on = "표준단위구역_코드").drop(columns=['표준단위구역_코드'])
for code in set(df['상권분류코드'].values):
    plt.scatter(df[df['상권분류코드']==code][col1],
                df[df['상권분류코드']==code][col2],
                label = dict_sk_code_kor[code])
plt.xlabel(col1)
plt.ylabel(col2)
plt.legend()
plt.show()

In [ ]:
def show_two_scatter(idx, col1, col2, show_golmog=False):
    tmp = data_df_list[idx][['표준단위구역_코드', col1, col2]]
    df = pd.merge(left = df_sk2 , right = tmp, how = "inner", on = "표준단위구역_코드").drop(columns=['표준단위구역_코드'])
    for code in set(df['상권분류코드'].values):
        if not show_golmog and code=='A': continue
        plt.scatter(df[df['상권분류코드']==code][col1],
                    df[df['상권분류코드']==code][col2],
                    label = dict_sk_code_kor[code])
    plt.xlabel(col1)
    plt.ylabel(col2)
    plt.legend()
    plt.show()

In [ ]:
pass_col = ('기준_년분기_코드', '기준_년월_코드', '서비스_업종_코드', '표준단위구역_코드')
def show_two(idx, show_golmog=False):
    cols = list(data_df_list[idx].columns)
    l = len(cols)
    for idx1 in range(l):
        col1 = cols[idx1]
        if col1 in pass_col: continue
        for idx2 in range(idx1, l):
            col2 = cols[idx2]
            if col2 in pass_col: continue
            show_two_scatter(idx, col1, col2, show_golmog)

In [ ]:
show_two(0)

In [ ]:
show_two(1)

In [ ]:
# show_two(2)

In [ ]:
show_two(3)

In [ ]:
show_two(4)

In [ ]:
show_two(5)

In [ ]:
show_two(6)

In [ ]:
show_two(7)

In [ ]:
show_two(8)

In [ ]:
show_two(9)

In [ ]:
show_two(10)

In [ ]:
show_two(11)

### 1.2.2 여러 개의 테이블

In [ ]:
# 테스트 코드
idx1, idx2 = 1, 11
col1, col2 = '2년_생존_율', '여성연령대_50_직장_인구_수'
tmp1 = data_df_list[idx1][['표준단위구역_코드', col1]]
tmp2 = data_df_list[idx2][['표준단위구역_코드', col2]]

df = pd.merge(left = df_sk2, right = tmp1, how = "inner", on = "표준단위구역_코드")
df = pd.merge(left = df, right = tmp2, how = "inner", on = "표준단위구역_코드").drop(columns=['표준단위구역_코드'])
for code in set(df['상권분류코드'].values):
    plt.scatter(df[df['상권분류코드']==code][col1],
                df[df['상권분류코드']==code][col2],
                label = dict_sk_code_kor[code])
plt.xlabel(col1)
plt.ylabel(col2)
plt.legend()
plt.show()

In [ ]:
def show_diff_two_scatter(idx1, col1, idx2, col2, show_golmog=False):
    tmp1 = data_df_list[idx1][['표준단위구역_코드', col1]]
    tmp2 = data_df_list[idx2][['표준단위구역_코드', col2]]
    
    df = pd.merge(left = df_sk2, right = tmp1, how = "inner", on = "표준단위구역_코드")
    df = pd.merge(left = df, right = tmp2, how = "inner", on = "표준단위구역_코드").drop(columns=['표준단위구역_코드'])
    for code in set(df['상권분류코드'].values):
        if not show_golmog and code=='A': continue
        plt.scatter(df[df['상권분류코드']==code][col1],
                    df[df['상권분류코드']==code][col2],
                    label = dict_sk_code_kor[code])
    plt.xlabel(col1)
    plt.ylabel(col2)
    plt.legend()
    plt.show()

In [ ]:
show_diff_two_scatter(3, '연령대_50_유동인구_수', 6, '남성연령대_10_상주인구_수')

# 2. 각 상권 별 매출총액 (상권매칭 & 매출총액)

## 2.1 데이터 불러오기

In [ ]:
df_sk = pd.read_csv('./dataset/상권매칭테이블.csv', encoding='euc-kr')
df_sk.head()

In [ ]:
df_sell = pd.read_csv('./dataset/TBSM_SUD_SELNG_QU.csv', encoding='euc-kr')
df_sell.head()

In [ ]:
df = pd.merge(left = df_sk , right = df_sell, how = "inner", on = "SUD_CD")
df.head()

In [ ]:
len(df)

In [ ]:
df1 = df[['STDR_YYQU_CD', 'SUD_CD', 'SVC_INDUTY_CD', 'THSMON_SELNG_AMT', 'TRDAR_SE_CD']]  # 기준 년분기, 표준단위구역, 서비스_업종_코드, 당월_매출_금액, 상권코드
df1

## 2.2 상권별 데이터 분리

In [ ]:
df_A, df_D, df_R = df1[df1['TRDAR_SE_CD']=='A'], df1[df1['TRDAR_SE_CD']=='D'], df1[df1['TRDAR_SE_CD']=='R']

In [ ]:
df_A, df_D, df_R = df_A.drop(columns=['SVC_INDUTY_CD', 'TRDAR_SE_CD']), df_D.drop(columns=['SVC_INDUTY_CD', 'TRDAR_SE_CD']), df_R.drop(columns=['SVC_INDUTY_CD', 'TRDAR_SE_CD'])

In [ ]:
df_A

## 2.3 표준단위구역의 월별 (구역 내) 매출 평균 그래프

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

for code in list(set(df_A['SUD_CD'].values)):
    tmp = df_A[df_A['SUD_CD'] == code].drop(columns=['SUD_CD'])
    tmp.groupby('STDR_YYQU_CD').mean()
    plt.plot(tmp['STDR_YYQU_CD'], tmp['THSMON_SELNG_AMT'])

In [ ]:
for code in list(set(df_D['SUD_CD'].values)):
    tmp = df_D[df_D['SUD_CD'] == code].drop(columns=['SUD_CD'])
    tmp.groupby('STDR_YYQU_CD').mean()
    plt.plot(tmp['STDR_YYQU_CD'], tmp['THSMON_SELNG_AMT'])

In [ ]:
for code in list(set(df_R['SUD_CD'].values)):
    tmp = df_R[df_R['SUD_CD'] == code].drop(columns=['SUD_CD'])
    tmp.groupby('STDR_YYQU_CD').mean()
    plt.plot(tmp['STDR_YYQU_CD'], tmp['THSMON_SELNG_AMT'])

In [ ]:
len(set(df_R['SUD_CD'].values))

# 3. Test 모델

## 3.1 Data Load

사용할 데이터 : 3번 테이블(생활인구=유동인구), 5번(임대시세)

In [30]:
data_df_list[3].head()

NameError: name 'data_df_list' is not defined

In [ ]:
data_df_list[5].head()

In [ ]:
df_sk2.head()

In [ ]:
df = pd.merge(left = data_df_list[3], right = data_df_list[5], how = "inner", on = ["표준단위구역_코드", "기준_년분기_코드"])
df = pd.merge(left = df, right = df_sk2, how = "inner", on = ["표준단위구역_코드"]).drop(columns=['표준단위구역_코드'])
df = df.drop(columns=['임대시세_층구분_코드(공통코드:SG039)', '기준_년분기_코드'])
df.head()

In [ ]:
df.columns

## 3.2 Data Split & Define Model

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
#X, Y 분할하기
Y = df['상권분류코드']
X = df.drop(['상권분류코드'], axis = 1, inplace = False)
X.shape, Y.shape

In [ ]:
Y = Y.map({'A':2, 'D':1, 'R':0})
Y.head()

In [ ]:
#훈련용 데이터와 평가용 데이터 분할하기
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 42)

In [ ]:
import xgboost as xgb

In [ ]:
model = xgb.XGBClassifier(n_estimators = 500, max_depth = 5, random_state = 42)

In [ ]:
model.fit(X_train, Y_train)

In [ ]:
pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [ ]:
accuracy_score(Y_test, pred)

In [ ]:
confusion_matrix(Y_test, pred)

In [ ]:
print(classification_report(Y_test, pred))

In [ ]:
model.feature_importances_

In [ ]:
feature_imp = pd.DataFrame({'features': X_train.columns, 'values': model.feature_importances_})
feature_imp.head()

In [ ]:
import seaborn as sns
plt.figure(figsize=(20, 10))
sns.barplot(x='values', y='features', data=feature_imp.sort_values(by='values', ascending=False).head(10))

# 100. 기타

In [ ]:
df_up = pd.read_excel('./dataset/업종매칭테이블.xlsx')
df_up.head()

In [ ]:
F1 = './dataset/shp/골목상권.shp' 
D1 = gpd.read_file(F1)
D1.head()

In [ ]:
F1 = './dataset/shp/표준단위구역.shp' 
D1 = gpd.read_file(F1)
D1.head()